@using Microsoft.AspNetCore.Components.Authorization
@using ModuPOS.Client.Auth

@inject JwtAuthStateProvider AuthProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">

        @* Encontrado *@
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
        </Found>

        @* No encontrado *@
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>

@code {
    //(firstRender: true) se ejecuta después de que
    //el circuito JS está activo y ya es seguro para leer localStorage
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await AuthProvider.InicializarAsync();
    }
}